  <mat-drawer-container class="header-container" autosize>
      <mat-drawer #drawer class="header-sidenav" mode="side">
        <div class = "adminLink">
            <a href="#">MATERIAL ADMIN</a>
        </div>
        <div *ngFor = "let it of items" class = "links">

          <mat-icon>{{it.icon}}</mat-icon>
          {{it.name}}

        </div>
        
      </mat-drawer>
    


      <div class="header-sidenav-content">

        <div class="leftMenu">
            <div class="menuAndInput">
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                <input type="text" placeholder="Search anything...">    
            </div>
            
            <div class="threeIcons">
                <mat-icon>notifications</mat-icon>
                <mat-icon>widgets</mat-icon>
                <mat-icon>more_vert</mat-icon>
            </div>
        </div>
      </div >
          
    
    </mat-drawer-container>