.header-container {
  height: 300px;
}
  .leftMenu{
    background-color: rgb(15, 26, 175);
    display: flex;
    height: 100%;
    justify-content: space-around;
     align-items: center;

  }

  .header-sidenav-content .mat-icon{
      font-size: 24px;
      cursor: pointer;
      color:white;
  }
  
  .menuAndInput{
      display: flex;
      align-items: center;
      width: 40%;
      margin: 12px 4px;
  }
  .menuAndInput input{
      width: 80%;
      height: 24px;
     margin: 0 27px;
  }

  .threeIcons{
      display: flex;
  }
  .threeIcons .mat-icon{
      margin: 0 7px;
  }
  
  .header-sidenav {
    padding: 20px;
    height: 300px;
  }


  .adminLink{
    padding: 0  0 7px 0;
    margin-bottom: 7px;
    border-bottom: 1px solid black;
  }
  .adminLink a{
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
  }

  .links{
    display: flex;
  }